# Compiled source #
###################
*.pyc

# Cache           #
###################
__pychache__
*\#*\#
*.\#*

# Logs and databases #
######################
*.sqlite
*.sqlite3

#####################
# Media folder      #
#####################


#########################
# Migrations form South #
#########################


*.pyc
*~
#*#
.#*